.input_wrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.textField {
  .MuiInputBase-input {
    font-size: 18px;
  }

  .MuiInputLabel-root {
    font-size: 16px;
  }
}
