.root {
  display: flex;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 128px 24px 64px 24px;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  grid-template-rows: auto;
}

.error {
  font-size: 48px;
  color: var(--gs-color-danger);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
