.root {
  display: flex;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 24px 64px 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding-top: 48px + 24px;
  grid-template-rows: auto;
}

.error {
  font-size: 48px;
  color: var(--gs-color-danger);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.control {
  display: flex;
  width: 100%;
  gap: 24px;
  justify-content: space-between;
}

@media (max-width: 1325px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
