.root {
  position: relative;
  font-size: large;
  display: inline-flex;
  width: 100%;
}

.select {
  width: 100%;
  display: flex;
  color: var(--gs-text-color);
  border: 1px solid var(--gs-text-disabled);
  border-color: var(--gs-text-disabled);
  border-radius: 10px;
  min-height: 48px;
  align-items: center;
  padding: 0px 12px 0px 12px;

  transition:
    // 150ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.2s;

  &:hover {
    border-color: var(--gs-color-primary);
  }

  &.open {
    border-color: var(--gs-color-primary);
  }
}

.chevron {
  position: absolute;
  right: 12px;
  top: 45%;
  transform: translateY(-45%);
  transition: transform 0.2s ease-out;

  &.open {
    transform: rotate(-179.9deg) translateY(35%);
  }
}

.label {
  position: absolute;
  top: 13px;
  left: 24px;
  color: var(--gs-text-color);
  background-color: var(--gs-item-background-color);
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);

  // &.active {
  //   transform: translateY(-130%) translateX(-30%) scale(0.7);
  //   color: var(--ep-color-primary);
  //   padding-inline: 0.3em;
  // }
}

.option_badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 4px 12px;
  font-size: small;
  border-radius: 1000px;
  background-color: var(--gs-second-background-color);
  color: var(--gs-text-color);
}

.remove_button {
  z-index: 100;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  max-height: 16px;
  max-width: 16px;
  padding: 5px;
  background-color: var(--gs-text-disabled);

  transition: opacity 0.2s ease-out;

  &:hover {
    opacity: 0.8;
  }
}
